HOST: localhost:3000
DATABASE_USERNAME: root
DATABASE_PASSWORD: password
DATABASE_HOST: localhost
GOOGLE_OAUTH2_APP_ID: 
GOOGLE_OAUTH2_APP_KEY: 
FACEBOOK_APP_ID: 
FACEBOOK_APP_KEY: 
GMAIL_USERNAME: 
GMAIL_PASSWORD: 
SECRET_KEY_BASE: 
PAYPAL_CLIENT_ID: 
PAYPAL_SECRET: 
