.background-wrapper {
  min-height: 506px;
  background-image: url(asset_path('background.png'));
  background-position: bottom right;
  background-size: 70%;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000002f;
  }
}
